httpx>=0.23.0
numpy>=2.0.0,<2.4.0
opencv-python==4.13.0.92
packaging>=22.0
paddleocr==3.7.0
paddlepaddle==3.2.2
pillow>=12.3.0
PyAutoGUI
pydantic>=2.1.0
pynput
PySide6>=6.10.1
pyside6-fluent-widgets
pywin32
PyYAML==6.0.2
win11toast
winshell

pyinstaller
pytest
